<div class="w-5/6 mx-auto p-5 z-10 relative">

    <div class="flex flex-row justify-between">

        <a class="text-7xl font-bold text-[#ffffff73] drop-shadow-lg shadow-black bg-bg-wrapper">
            <div class="circle-animate1 bg"></div>
            AM
            <div class="circle-animate2 bg two"></div>
        </a>

        <ul class="list-none flex flex-row gap-4">
            <li>
                <a
                    class="px-3 py-2 hover:text-white hover:text-opacity-75 border border-transparent hover:border-white hover:bg-[#ffffff49] hover:bg-opacity-60 hover:backdrop-blur-md rounded-lg cursor-pointer font-bold">Home</a>
            </li>
            <li>
                <a
                    class="px-3 py-2 hover:text-white hover:text-opacity-75 border border-transparent hover:border-white hover:bg-[#ffffff49] hover:bg-opacity-60 hover:backdrop-blur-md rounded-lg cursor-pointer font-bold">About</a>
            </li>
            <li>
                <a
                    class="px-3 py-2 hover:text-white hover:text-opacity-75 border border-transparent hover:border-white hover:bg-[#ffffff49] hover:bg-opacity-60 hover:backdrop-blur-md rounded-lg cursor-pointer font-bold">Experience</a>
            </li>
            <li>
                <a
                    class="px-3 py-2 hover:text-white hover:text-opacity-75 border border-transparent hover:border-white hover:bg-[#ffffff49] hover:bg-opacity-60 hover:backdrop-blur-md rounded-lg cursor-pointer font-bold">Projects</a>
            </li>
            <li>
                <a
                    class="px-3 py-2 hover:text-white hover:text-opacity-75 border border-transparent hover:border-white hover:bg-[#ffffff49] hover:bg-opacity-60 hover:backdrop-blur-md rounded-lg cursor-pointer font-bold">Contact</a>
            </li>
        </ul>

    </div>

</div>