<div class="w-full h-full flex justify-center items-center overflow-y-scroll">
	<div class="absolute z-0 end-1/4 scale-90 top-1/2 block xl:hidden">
		<div class="shape-1 circular-animation"></div>
		<div class="shape-1 circular-animation"></div>
		<div class="shape-2 circular-animation"></div>
	</div>
	<div class="flex flex-col md:flex-row w-full xl:w-10/12 h-full justify-center">
		<div class="h-full w-full xl:w-1/2 backdrop-blur-3xl">
			<app-hero></app-hero>
		</div>
		<div class="h-full w-full xl:w-1/2 hidden xl:flex bg-none xl:bg-[url('assets/images/bg-blurs.png')] bg-cover bg-top-left bg-no-repeat">
			<app-game></app-game>
		</div>
	</div>
</div>
