<div class="h-full w-full flex items-center justify-center sm:justify-start sm:items-start">
	<div class="flex flex-col justify-center items-center xl:items-start w-full h-full gap-24 px-6 xl:px-0">
		<div class="flex flex-col gap-2 w-full md:w-3/4 sm:w-full">
			<p class="text-[#E5E9F0] text-lg">Hi there, I am</p>
			<h1 class="text-[#E5E9F0] text-5xl">Abdelrahman Mahmoud</h1>
			<p class="lg:text-[#4D5BCE] text-[#43D9AD] lg:text-[32px]">> Front-end developer</p>
		</div>

		<div class="flex flex-col gap-2 w-full md:w-3/4 sm:w-full">
			<p class="text-[#607B96] text-base hidden xl:block">// you can play a game</p>
			<!-- <p class="text-[#607B96] text-base hidden xl:block">// you can also see it on my Github</p>
			<div class="text-base flex-row gap-2 hidden xl:flex">
				<span class="text-[#4D5BCE]">const</span>
				<span class="text-[#43D9AD]">githubLink</span>
				<span class="text-white">=</span>
				<span class="text-[#E99287] text-wrap">“https://github.com/abdelrahmman97”</span>
			</div> -->
			<p class="text-[#607B96] text-base hidden xl:block">// you can also find my profile it on my Github</p>
			<div class="text-base flex-row gap-2 hidden xl:flex">
				<span class="text-[#4D5BCE]">const</span>
				<span class="text-[#43D9AD]">githubLink</span>
				<span class="text-white">=</span>
				<span class="text-[#E99287] text-wrap">“https://github.com/abdelrahmman97”</span>
			</div>
			<p class="text-[#607B96] text-base block xl:hidden">// find my profile on Github:</p>
			<div class="text-base flex-row flex-wrap gap-2 flex xl:hidden">
				<span class="text-[#4D5BCE]">const</span>
				<span class="text-[#43D9AD]">githubLink</span>
				<span class="text-white">=</span>
				<span class="text-[#E99287] text-wrap">“https://github.com/abdelrahmman97”</span>
			</div>
		</div>
	</div>
</div>
