<app-header></app-header>
<main>
    <div class="absolute inset-0 overflow-hidden bg-indigo-50 -bottom-14 -top-36 z-0">
        <img alt="" fetchpriority="high" width="918" height="1495" decoding="async" data-nimg="1"
            class="absolute top-0 left-0 translate-x-[-55%] translate-y-[-10%] -scale-x-100 sm:left-1/2 sm:translate-x-[-98%] sm:translate-y-[-6%] lg:translate-x-[-106%] xl:translate-x-[-122%]"
            style="color:transparent" src="assets/images/blob.jpg">
        <div class="absolute inset-x-0 top-0 h-40 bg-gradient-to-b from-white"></div>
        <div class="absolute inset-x-0 bottom-0 h-40 bg-gradient-to-t from-white"></div>
    </div>
    <mouse-cursor-gradient-tracking></mouse-cursor-gradient-tracking>
</main>
<app-footer></app-footer>

<!-- <app-under-construction></app-under-construction> -->