<section class="p-6 max-w-3xl mx-auto">
	<h2 class="text-3xl font-semibold mb-4 text-gray-900 dark:text-gray-400">💬About Me</h2>
	<p class="text-gray-800 dark:text-gray-600 leading-relaxed">
		I'm a frontend developer based in Egypt, specializing in Angular. I enjoy crafting clean, scalable UI
		experiences.
	</p>
</section>

<section class="p-6 max-w-4xl mx-auto">
	<h2 class="text-xl font-semibold mb-6 text-gray-900 dark:text-gray-400">💼 Work Experience</h2>
	<div class="space-y-8">
		<div class="flex flex-row gap-4 items-start">
			<div class="text-nowrap">
				<p class="text-gray-600 dark:text-gray-500 text-xs">Jun 2024 – Present</p>
			</div>
			<div class="flex flex-col items-start justify-start">
				<h3 class="text-base font-semibold text-gray-900 dark:text-gray-400">Roboost</h3>
				<h2 class="text-sm font-medium text-gray-900 dark:text-gray-400">Front-end Developer</h2>
				<p class="text-sm text-gray-700 dark:text-gray-600">
					Roboost is an AI-powered delivery management platform designed to automate and optimize last-mile
					delivery operations for businesses. It aims to streamline the entire delivery process—from order
					dispatch to real-time tracking—minimizing human intervention and enhancing efficiency. I worked as a
					front-end (angular) developer.
				</p>
			</div>
		</div>
		<div class="flex flex-row gap-4 items-start">
			<div class="text-nowrap">
				<p class="text-gray-600 dark:text-gray-500 text-xs">Jan 2024 – May 2024</p>
			</div>
			<div class="flex flex-col items-start justify-start">
				<h3 class="text-base font-semibold text-gray-900 dark:text-gray-400">Shefa orman hospital</h3>
				<h2 class="text-sm font-medium text-gray-900 dark:text-gray-400">Full stack web Developer</h2>
				<p class="text-sm text-gray-700 dark:text-gray-600">
					I worked as a full stack developer at Shefa Orman Hospital, I was responsible for developing the
					hospital management system.
				</p>
			</div>
		</div>
		<div class="flex flex-row gap-4 items-start">
			<div class="text-nowrap">
				<p class="text-gray-600 dark:text-gray-500 text-xs">Jan 2024 – Mar 2024</p>
			</div>
			<div class="flex flex-col items-start justify-start">
				<h3 class="text-base font-semibold text-gray-900 dark:text-gray-400">Mophx</h3>
				<h2 class="text-sm font-medium text-gray-900 dark:text-gray-400">Front-end Developer</h2>
				<p class="text-sm text-gray-700 dark:text-gray-600">
					I worked as a freelancer front-end developer for Mophx,
					<br />
					where I worked on `Sportyano` app.
				</p>
			</div>
		</div>
		<div class="flex flex-row gap-4 items-start">
			<div class="text-nowrap">
				<p class="text-gray-600 dark:text-gray-500 text-xs">Jul 2024 – Nov 2024</p>
			</div>
			<div class="flex flex-col items-start justify-start">
				<h3 class="text-base font-semibold text-gray-900 dark:text-gray-400">ITI - Trainee</h3>
				<h2 class="text-sm font-medium text-gray-900 dark:text-gray-400">
					Full stack .Net and Angular Developer
				</h2>
				<p class="text-sm text-gray-700 dark:text-gray-600">
					I have completed the full stack web development at ITI, the track included the following topics:
					HTML, CSS, JavaScript, Bootstrap, JQuery, ASP.NET, MVC, Web API, Entity Framework, SQL Server,
					TypeScript, and Angular.
				</p>
			</div>
		</div>
		<!-- Add more entries -->
	</div>
</section>
