<div class="flex justify-center items-center h-full">
	<!-- <div class="bg-[#ffffff17] rounded-lg border border-black h-2/3 p-4"> -->
	<div class="h-full py-16 w-full">
		<div class="h-full w-full p-4 bg-[url('./assets/images/bg-game.png')] bg-no-repeat bg-cover rounded-xl">
			<div class="w-full h-full flex flex-col">
				<div class="flex justify-between">
					<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter0_di_64_1310)">
							<circle cx="8.73047" cy="9.27106" r="6.5" fill="url(#paint0_radial_64_1310)" />
						</g>
						<path d="M5.96094 11.5657L11.4995 6.97635M5.96094 6.97635L11.4995 11.5657" stroke="#114944" />
						<defs>
							<filter
								id="filter0_di_64_1310"
								x="0.230469"
								y="0.771057"
								width="21"
								height="21"
								filterUnits="userSpaceOnUse"
								color-interpolation-filters="sRGB">
								<feFlood flood-opacity="0" result="BackgroundImageFix" />
								<feColorMatrix
									in="SourceAlpha"
									type="matrix"
									values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
									result="hardAlpha" />
								<feOffset dx="2" dy="2" />
								<feGaussianBlur stdDeviation="2" />
								<feComposite in2="hardAlpha" operator="out" />
								<feColorMatrix
									type="matrix"
									values="0 0 0 0 0.0525 0 0 0 0 0.2625 0 0 0 0 0.255726 0 0 0 1 0" />
								<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_64_1310" />
								<feBlend
									mode="normal"
									in="SourceGraphic"
									in2="effect1_dropShadow_64_1310"
									result="shape" />
								<feColorMatrix
									in="SourceAlpha"
									type="matrix"
									values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
									result="hardAlpha" />
								<feOffset dy="1" />
								<feGaussianBlur stdDeviation="1" />
								<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
								<feColorMatrix
									type="matrix"
									values="0 0 0 0 0.12184 0 0 0 0 0.504167 0 0 0 0 0.464752 0 0 0 1 0" />
								<feBlend mode="normal" in2="shape" result="effect2_innerShadow_64_1310" />
							</filter>
							<radialGradient
								id="paint0_radial_64_1310"
								cx="0"
								cy="0"
								r="1"
								gradientUnits="userSpaceOnUse"
								gradientTransform="translate(8.73047 6.27106) rotate(90) scale(9.5)">
								<stop offset="0.151042" stop-color="#217D7A" />
								<stop offset="1" stop-color="#114B4A" />
							</radialGradient>
						</defs>
					</svg>

					<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter0_di_64_1304)">
							<circle cx="9.23047" cy="9.27106" r="6.5" fill="url(#paint0_radial_64_1304)" />
						</g>
						<path d="M6.46094 11.5657L11.9995 6.97635M6.46094 6.97635L11.9995 11.5657" stroke="#114944" />
						<defs>
							<filter
								id="filter0_di_64_1304"
								x="0.730469"
								y="0.771057"
								width="21"
								height="21"
								filterUnits="userSpaceOnUse"
								color-interpolation-filters="sRGB">
								<feFlood flood-opacity="0" result="BackgroundImageFix" />
								<feColorMatrix
									in="SourceAlpha"
									type="matrix"
									values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
									result="hardAlpha" />
								<feOffset dx="2" dy="2" />
								<feGaussianBlur stdDeviation="2" />
								<feComposite in2="hardAlpha" operator="out" />
								<feColorMatrix
									type="matrix"
									values="0 0 0 0 0.0525 0 0 0 0 0.2625 0 0 0 0 0.255726 0 0 0 1 0" />
								<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_64_1304" />
								<feBlend
									mode="normal"
									in="SourceGraphic"
									in2="effect1_dropShadow_64_1304"
									result="shape" />
								<feColorMatrix
									in="SourceAlpha"
									type="matrix"
									values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
									result="hardAlpha" />
								<feOffset dy="1" />
								<feGaussianBlur stdDeviation="1" />
								<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
								<feColorMatrix
									type="matrix"
									values="0 0 0 0 0.101667 0 0 0 0 0.508333 0 0 0 0 0.466409 0 0 0 1 0" />
								<feBlend mode="normal" in2="shape" result="effect2_innerShadow_64_1304" />
							</filter>
							<radialGradient
								id="paint0_radial_64_1304"
								cx="0"
								cy="0"
								r="1"
								gradientUnits="userSpaceOnUse"
								gradientTransform="translate(9.23047 6.27106) rotate(90) scale(9.5)">
								<stop offset="0.151042" stop-color="#196C6A" />
								<stop offset="1" stop-color="#114B4A" />
							</radialGradient>
						</defs>
					</svg>
				</div>

				<div class="flex grow h-full w-full">
					<!-- --------------------------- snake game here --------------------------- -->
					<div class="flex items-start justify-start h-full w-full">
						<div class="relative">
							@if (isGameOver) {
							<div class="absolute bottom-4 bg-[#011627] w-full p-2">
								@if (isNewScore) {
								<p class="uppercase text-center text-lg text-[#43D9AD]">{{ 'well done!' }}</p>
								<p class="uppercase text-center text-lg text-[#43D9AD]">new score: {{ score }}</p>
								} @else {
								<p class="uppercase text-center text-lg text-[#43D9AD]">{{ 'game over!' }}</p>
								}
							</div>
							}
							<canvas
								#gameCanvas
								width="290"
								height="400"
								class="bg-[#011627d2] rounded shadow-inner"></canvas>
						</div>
						<div class="flex flex-col items-start justify-between h-full w-full px-8">
							<div class="flex flex-col p-2 rounded w-full bg-[#01142332]">
								<p class="text-white">// use keyboard</p>
								<p class="text-white">// arrows to play</p>
								<div class="grid gap-4 grid-cols-3 grid-rows-2 w-full p-3">
									<span
										class="bg-[#010C15] rounded-lg col-start-2 flex flex-col justify-center items-center p-2">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											style="fill: rgba(255, 255, 255, 1)">
											<path
												d="M3 19h18a1.002 1.002 0 0 0 .823-1.569l-9-13c-.373-.539-1.271-.539-1.645 0l-9 13A.999.999 0 0 0 3 19z"></path>
										</svg>
									</span>
									<span
										class="bg-[#010C15] rounded-lg row-start-2 flex flex-col justify-center items-center p-2">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											style="fill: rgba(255, 255, 255, 1)">
											<path
												d="m4.431 12.822 13 9A1 1 0 0 0 19 21V3a1 1 0 0 0-1.569-.823l-13 9a1.003 1.003 0 0 0 0 1.645z"></path>
										</svg>
									</span>
									<span
										class="bg-[#010C15] rounded-lg row-start-2 flex flex-col justify-center items-center p-2">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											style="fill: rgba(255, 255, 255, 1)">
											<path
												d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
										</svg>
									</span>
									<span
										class="bg-[#010C15] rounded-lg row-start-2 flex flex-col justify-center items-center p-2">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											width="24"
											height="24"
											viewBox="0 0 24 24"
											style="fill: rgba(255, 255, 255, 1)">
											<path
												d="M5.536 21.886a1.004 1.004 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A1 1 0 0 0 5 3v18a1 1 0 0 0 .536.886z"></path>
										</svg>
									</span>
								</div>
							</div>

							<div class="flex flex-col">
								<p class="text-white">// top score: {{ topScore }}</p>
								<p class="text-white">// current score: {{ score }}</p>
							</div>

							<button (click)="startGame()" class="btn-default w-full">start game</button>
						</div>
					</div>
				</div>

				<div class="flex justify-between">
					<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter0_di_64_1307)">
							<circle cx="9.23047" cy="9.43109" r="6.5" fill="url(#paint0_radial_64_1307)" />
						</g>
						<path d="M6.46094 11.7258L11.9995 7.13638M6.46094 7.13638L11.9995 11.7258" stroke="#093430" />
						<defs>
							<filter
								id="filter0_di_64_1307"
								x="0.730469"
								y="0.931091"
								width="21"
								height="21"
								filterUnits="userSpaceOnUse"
								color-interpolation-filters="sRGB">
								<feFlood flood-opacity="0" result="BackgroundImageFix" />
								<feColorMatrix
									in="SourceAlpha"
									type="matrix"
									values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
									result="hardAlpha" />
								<feOffset dx="2" dy="2" />
								<feGaussianBlur stdDeviation="2" />
								<feComposite in2="hardAlpha" operator="out" />
								<feColorMatrix
									type="matrix"
									values="0 0 0 0 0.0359028 0 0 0 0 0.177018 0 0 0 0 0.195833 0 0 0 1 0" />
								<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_64_1307" />
								<feBlend
									mode="normal"
									in="SourceGraphic"
									in2="effect1_dropShadow_64_1307"
									result="shape" />
								<feColorMatrix
									in="SourceAlpha"
									type="matrix"
									values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
									result="hardAlpha" />
								<feOffset dy="1" />
								<feGaussianBlur stdDeviation="1" />
								<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
								<feColorMatrix
									type="matrix"
									values="0 0 0 0 0.088125 0 0 0 0 0.391667 0 0 0 0 0.360374 0 0 0 1 0" />
								<feBlend mode="normal" in2="shape" result="effect2_innerShadow_64_1307" />
							</filter>
							<radialGradient
								id="paint0_radial_64_1307"
								cx="0"
								cy="0"
								r="1"
								gradientUnits="userSpaceOnUse"
								gradientTransform="translate(9.23047 6.43109) rotate(90) scale(9.5)">
								<stop offset="0.151042" stop-color="#164C51" />
								<stop offset="1" stop-color="#0D3A40" />
							</radialGradient>
						</defs>
					</svg>

					<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter0_di_64_1313)">
							<circle cx="8.73047" cy="9.43109" r="6.5" fill="url(#paint0_radial_64_1313)" />
						</g>
						<path d="M5.96094 11.7258L11.4995 7.13638M5.96094 7.13638L11.4995 11.7258" stroke="#163355" />
						<defs>
							<filter
								id="filter0_di_64_1313"
								x="0.230469"
								y="0.931091"
								width="21"
								height="21"
								filterUnits="userSpaceOnUse"
								color-interpolation-filters="sRGB">
								<feFlood flood-opacity="0" result="BackgroundImageFix" />
								<feColorMatrix
									in="SourceAlpha"
									type="matrix"
									values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
									result="hardAlpha" />
								<feOffset dx="2" dy="2" />
								<feGaussianBlur stdDeviation="2" />
								<feComposite in2="hardAlpha" operator="out" />
								<feColorMatrix
									type="matrix"
									values="0 0 0 0 0.0709722 0 0 0 0 0.174244 0 0 0 0 0.304167 0 0 0 1 0" />
								<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_64_1313" />
								<feBlend
									mode="normal"
									in="SourceGraphic"
									in2="effect1_dropShadow_64_1313"
									result="shape" />
								<feColorMatrix
									in="SourceAlpha"
									type="matrix"
									values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
									result="hardAlpha" />
								<feOffset dy="1" />
								<feGaussianBlur stdDeviation="1" />
								<feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
								<feColorMatrix
									type="matrix"
									values="0 0 0 0 0.170868 0 0 0 0 0.343622 0 0 0 0 0.554167 0 0 0 1 0" />
								<feBlend mode="normal" in2="shape" result="effect2_innerShadow_64_1313" />
							</filter>
							<radialGradient
								id="paint0_radial_64_1313"
								cx="0"
								cy="0"
								r="1"
								gradientUnits="userSpaceOnUse"
								gradientTransform="translate(8.73047 6.43109) rotate(90) scale(9.5)">
								<stop offset="0.151042" stop-color="#234B7C" />
								<stop offset="1" stop-color="#122E4F" />
							</radialGradient>
						</defs>
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>
