<div class="flex flex-col gap-y-10 p-4 h-full">
	<section class="flex my-10 h-full">
		<div>
			<h1 class="text-3xl font-bold text-gray-950 dark:text-white">Hi👋, There!</h1>
			<h1 class="text-xl sm:text-2xl font-bold text-gray-950 dark:text-white">🌤️ It's nice to meet you</h1>
			<h1 class="text-2xl font-bold text-gray-950 dark:text-white">I'm Abdelrahman 😎</h1>
			<p class="text-base text-gray-600 leading-8 mt-1.5">
				A
				<span
					class="text-nowrap bg-amber-50 dark:bg-amber-200/9 border border-amber-200 dark:border-amber-50/9 rounded-lg p-0.5 pe-0">
					full-stack web developer
				</span>
				&nbsp;with
				<span
					class="text-nowrap bg-indigo-50 dark:bg-indigo-300/9 border border-indigo-200 dark:border-indigo-200/9 rounded-lg ps-1 py-0.5 pe-0">
					2 years
				</span>
				&nbsp;of experience building scalable web apps that are performance optimized and good looking.
			</p>
		</div>
	</section>
</div>
