<div class="flex h-full w-full items-center justify-center bg-[#0d1117]">
	<div class="mx-auto">
		<div class="space-y-2 w-full">
			<div class="flex flex-row gap-4">
				<div class="animate-pulse h-4 w-20 rounded-lg bg-sky-500"></div>
				<div class="animate-pulse h-4 w-28 rounded-lg bg-[#3b4252]"></div>
			</div>
			<div class="flex flex-row gap-4">
				<div class="h-4 w-10"></div>
				<div class="animate-pulse h-4 w-20 rounded-lg bg-purple-500"></div>
				<div class="animate-pulse h-4 w-36 rounded-lg bg-[#88c0d0]"></div>
			</div>
			<div class="flex flex-row gap-4">
				<div class="h-4 w-10"></div>
				<div class="animate-pulse h-4 w-32 rounded-lg bg-[#88c0d0]"></div>
				<div class="animate-pulse h-4 w-40 rounded-lg bg-sky-500"></div>
				<div class="animate-pulse h-4 w-20 rounded-lg bg-[#5e81ac]"></div>
			</div>
			<div class="flex flex-row gap-4">
				<div class="h-4 w-10"></div>
				<div class="flex flex-row gap-4">
					<div class="h-4 w-10"></div>
					<div class="animate-pulse h-4 w-10 rounded-lg bg-emerald-600"></div>
					<div class="animate-pulse h-4 w-20 rounded-lg bg-[#3b4252]"></div>
					<div class="animate-pulse h-4 w-16 rounded-lg bg-purple-500"></div>
					<div class="animate-pulse h-4 w-24 rounded-lg bg-[#88c0d0]"></div>
				</div>
			</div>
			<div class="flex flex-row gap-4">
				<div class="animate-pulse h-4 w-28 rounded-lg bg-[#b48ead]"></div>
				<div class="animate-pulse h-4 w-28 rounded-lg bg-[#2e32ff]"></div>
			</div>
			<div class="flex flex-row gap-4">
				<div class="h-4 w-20"></div>
				<div class="animate-pulse h-4 w-24 rounded-lg bg-[#5e81ac]"></div>
				<div class="animate-pulse h-4 w-32 rounded-lg bg-[#df3fc2]"></div>
				<div class="animate-pulse h-4 w-28 rounded-lg bg-[#3b4252]"></div>
			</div>
			<div class="flex flex-row gap-4">
				<div class="h-4 w-10"></div>
				<div class="animate-pulse h-4 w-28 rounded-lg bg-amber-500"></div>
				<div class="animate-pulse h-4 w-16 rounded-lg bg-purple-500"></div>
				<div class="animate-pulse h-4 w-24 rounded-lg bg-[#b48ead]"></div>
				<div class="animate-pulse h-4 w-11 rounded-lg bg-[#3b4252]"></div>
			</div>
			<div class="flex flex-row gap-4">
				<div class="animate-pulse h-4 w-20 rounded-lg bg-[#88c0d0]"></div>
				<div class="animate-pulse h-4 w-44 rounded-lg bg-lime-500"></div>
			</div>
		</div>

		<p class="text-lg text-center font-bold text-white mt-24 animate-pulse">
			{{ 'Under Construction' }}
		</p>
	</div>
</div>
